.about-cotainer{  
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: white;       
}
.about-card{
    width: 700px;
    margin: 15px;
    padding: 10px;    
    border: 2px solid;
    border-image-source: linear-gradient(45deg, rgb(0, 74, 143),black);
    border-image-slice: 1;   
}
.about-card:hover{
    border: 2px solid;
    border-image-source: linear-gradient(45deg, black, white);
    border-image-slice: 1;   
}
.data{
    margin: 30px;
}
.date p{
    background-image: linear-gradient(to right , red,black);
    color: white;
    width: 600px;    
    padding: 10px;
}
.title p{
    margin-bottom: 50px;
    font-size: 300%;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
    

.action{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;  
    margin-top: 25px; 
}
.description{
    color: rgb(201, 193, 192);
}
.data{
 margin-left: 30px;
}
.spiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  
    align-items: center; 
    margin-top: 20px;
    color: grey; 
    font-size: larger;      
}