.app-sidenav{
    width: 200px; 
    background-color: rgb(101, 59, 150);    
    margin-top: 10px;
    
}
.drawer-container{
    background-color: black;    
    height: 100vh;
}
.app-sidenav a{
    margin-top: 10px;
    text-decoration: none;
    color:  white;
    margin-left: 20px;
}


